.product-hero-section {
  background: url('https://res.cloudinary.com/dnm19jzvu/image/upload/v1754207503/product_vstapo.jpg') center center/cover no-repeat;
  background-attachment: fixed;
  margin-top: -9rem;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.badge {
  font-size: 0.75rem;
  padding: 0.4em 0.6em;
}
