.section-title {
  font-weight: bold;
  font-size: 2rem;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
/* Zoom in on hover */
.product-card img:hover {
  transform: scale(1.1);
  z-index: 10; /* bring it above others */
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 100%;
}

.product-card img {
  aspect-ratio: 1 / 1; /* Makes image square */
  object-fit: cover;
  border-radius: 8px;
  height: 370px;
  width: 100%;
  transition: transform 0.4s ease; /* smooth zoom */
  cursor: pointer; /* indicate interactivity */
}

.product-card img:active {
  transform: scale(1.15);
}

.our-products-section {
  margin-top: -80px; /* move it up by 30px */
}
